*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #0d1323;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns:20% 80%;
    width: 80%;
    height: 60vh;
    margin-top: 20vh;
}
.sidebar{
    display: flex;
    background-color: #1d204d;
    flex-direction: column;
    width: 260px;
    border-radius: 10px;
}
.sidebar .profile{ 
    background-color: #5746ea;
    padding: 1.3rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    height: 60%;
}
.picture{
    background: url('./images/image-jeremy.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border: white 5px solid;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}
.name{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;

}

    
.sidebar > .name{
    display: flex;
}
.name span{
    font-size: 15px;
}
.sidebar > .time{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding:1.3rem;
    font-size: 20px;
    margin-left: 20px;
}
.right{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.right > div{
    padding: 1.5rem;
    /* border-radius: 20px; */
}
.col1{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    
}
.col2{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    
}

.col3{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    
}

.cards{
    background-color: #1c1f4a;
    height: 25vh;
    border-radius: 10px;
    z-index: 1;
}
.work{
    background-color: #ff8b64;
    
}
.icon{
    position: relative;
    height: 10px;
    float: right;
    margin-right: 5px;
    margin-top: -1px; 
    z-index: -1;   

}
.cardinfo{
    background-color: #1c1f4a;
    height: 80%;
    margin-top: 20%;
    border-radius: 10px;
    padding: 1rem;
    z-index: 3;
}
h1{
    font-size: 4rem;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.hour{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 50px;
}
.exercise{
    background-color: #4bcf83;
}
.play{
    background-color: #56c2e6;
}
.social{
    background-color: #7235d1;
}
.study{
    background-color: #ff5e7d;
}
.selfcare{
    background-color: #f1c75b;
}